body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa; /* Біліша кольорова схема */
}

h1 {
    color: #333;
}

p {
    color: #555;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #57bb8a; /* Зелений колір кнопки */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Плавний перехід колірних змін */
}

/* Зміна кольору кнопки при наведенні */
button:hover {
    background-color: #4caf50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #57bb8a; /* Зелений колір для заголовків таблиці */
    color: white;
}
